<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>

<form method="POST">
<div class="input-group mb-4">
<div class="input-group-prepend">
</div>

    <button class="btn btn-primary" type="submit">Add License</button>


</div>




</form>

<div class="prof" style="margin-left: 1320px;">
<div>
    <span class="material-icons">
account_circle
    </span><span>{{username}}</span></div>
<div>{{ user_id }}</div>
    </div>

<h3 style="margin-left: 650px;">Licenses</h3>
<table style="margin-left:350px;"border="2">

    <tbody>

<tr>
      <td>License Name</td>
      <td>Issued By</td>
      <td>Description</td>
      <td>Valid From</td>
      <td>Valid To</td>
      <td>Renewal Link</td>
      <td>Notify On</td>
</tr>
{%for i in range(0, length)%}
<tr>
      <td>{{found[i][1]}}</td>
      <td>{{found[i][2]}}</td>
      <td>{{found[i][3]}}</td>
      <td>{{found[i][4]}}</td>
      <td>{{found[i][5]}}</td>
      <td><a href="{{found[i][6]}}">{{found[i][6]}}</a></td>
      <td>{{found[i][7]}}</td>



</tr>
</tbody>
</table>


{%endfor%}



</body>
</html>