<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
      <link rel="stylesheet" href="style.css">

</head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
<form method ="post" action="/">
    <div class="card bg-primary text-white">
    <div class="card-body">
        <button class="btn btn-primary" type="submit"name="submit_a" value="submit_a">Login</button>
        <button class="btn btn-primary" type="submit"name="submit_b" value="submit_b">Signup</button>
    </div>
  </div>



</form>


</body>
</html>