<!DOCTYPE html>
<html lang="en">

<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta charset="UTF-8">
<title>Title</title>
</head>
<body>
<div class="container">
<div class="row">


</div>

<div class="col-sm">
    <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-2">Licensing</h1>
  </div>
</div>

<form method="POST">
    <div class="container">
  <div class="row">
    <div class="col">
      <div class="input-group-prepend">
</div>

<input name="username" type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
    </div>
  </div>
 <div class="row">
    <div class="col">
<input name="password" type="text" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
    </div>
  </div>
 <div class="row">
    <div class="col">
    <input name="email" type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
  </div>

        <div class="row">
    <div class="col">
        <button class="btn btn-primary" type="submit">Sign Up</button>

    </div>
  </div>

</div>




    <h2>{{error}}</h2>

</form>











<div class="col-sm">

</div>
</div>
</div>



</body>
</html>